@model Estoque.Models.AtributoProduto

@{
    ViewBag.Title = "Editar";
}

<h2>Alterar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Característica do Produto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDATRIBUTO)

        @Html.HiddenFor(model => model.IDPRODUTO)
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.IDPRODUTO)
            </dt>

            <dd>
                @ViewBag.Produto
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IDATRIBUTO)
            </dt>

            <dd>
                @ViewBag.Atributo
            </dd>
        </dl>
        <div class="form-group">
            @Html.LabelFor(model => model.VALOR, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VALOR, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VALOR, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="Save" class="btn warning">Editar</button>
            </div>
        </div>
    </div>
}

<div>
    <button class="btn default">
        @Html.ActionLink("Voltar", "Index", new { IDPRODUTO = Model.IDPRODUTO });
    </button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
