@model Estoque.Models.TipoUsuario

@{
    ViewBag.Title = "Detalhes";
}

<h2>Visualizar</h2>

<div>
    <h4>Tipo de Usuário</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESCRICAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRICAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADMINISTRATIVO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADMINISTRATIVO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ALTERA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALTERA)
        </dd>

    </dl>
</div>
<p>
    <button class="btn warning">
        @Html.ActionLink("Editar", "Edit", new { id = Model.IDTIPOUSUARIO }, new { @class = "warning" })
    </button> |
    <button class="btn default">
        @Html.ActionLink("Voltar", "Index")
    </button>
</p>
