@model IEnumerable<Estoque.Models.Usuario>

@{
    ViewBag.Title = "Usuários";
}

<h2>Usuários</h2>

<p>
    <button class="btn info">
        @Html.ActionLink("Novo", "Create")
    </button>
</p>
@using (Html.BeginForm())
{
    <p>
        Filtro: @Html.TextBox("filtro")
        <button type="submit" value="filtro" class="btn info">Pesquisar</button>
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELEFONE)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TELEFONE)
            </td>
            <td>
                <button class="btn warning">
                    @Html.ActionLink("Editar", "Edit", new { id = item.IDUSUARIO }, new { @class = "warning" })
                </button> |
                <button class="btn info">
                    @Html.ActionLink("Visualizar", "Details", new { id = item.IDUSUARIO }, new { @class = "info" })
                </button> |
                <button class="btn danger">
                    @Html.ActionLink("Apagar", "Delete", new { id = item.IDUSUARIO }, new { @class = "danger" })
                </button>
            </td>
        </tr>
    }

</table>
